<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1>Comments</h1>
    <ul>
        <% for(let c of comments){ %>
            <li>
                <a href="comments/<%= c.id%>"><%= c.comment %></a> - <b><%= c.username %></b>
                <a href="comments/<%= c.id%>/edit">    edit</a>
            </li>
        <% } %>
    </ul>
    <button><a href="/comments/new"> New Post</a></button>
</body>
</html>