<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>

<body>
    <h1>Make a new comment</h1>
    <form action="/comments" method="post">
        <div>
            <label for="username" id="username">Enter Username</label>
            <input type="text" placeholder="username" name="username">
        </div>
        <br>
        <div>
            <label for="comment" id="comment">Enter Comment</label>
            <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
        </div>
        <div>
            <button id="submit">Submit</button>
        </div>
    </form>
    <button><a href="/comments">Back</a></button>
</body>

</html>